# databases
/mongo
/postgres

# files
uploads/projects/**.*
uploads/users/**.*

# test
coverage/

# Dependencias
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Docker
docker-data/
/src/generated/prisma
